@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #000000;
    --cor2: #f6f6f6;
    --cor3: #b80404;
    --cor-hover: #272727;

    --font1: "Krona One", serif;
    --font2: "Montserrat", serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor1);
    color: var(--cor2);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.menu {
    display: flex;
    gap: 80px;
}

.menu__links {
    font-family: var(--font2);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor3);
    text-decoration: none;
}

.foto__dev {
    width: 45%;
}

.titulo-destaque {
    color: var(--cor3);
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.conteudo-geral { 
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-size: 2.25rem;
    font-family: var(--font1);
}

.paragrafo {
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 400;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.links__subtitulo {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 1.5rem;
}

.links__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor3);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor2);
    font-family: var(--font2);
}

.links__botao:hover {
    background-color: var(--cor-hover);
}

.rodape {
    padding: 24px;
    color: var(--cor1);
    background-color: var(--cor3);
    text-align: center;
    font-family: var(--font2);
    font-size: 1.5rem;
    font-weight: 400;
}

.titulo__forca {
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font1);
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forca-e-letras-usadas {
    padding: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}

#imagem-forca {
    width: 15.5rem;
    height: auto;
}

.letras-usadas {
    font-family: var(--font2);
    font-size: 1.5rem;
    margin-left: 20px;
}

.letra_ja_usada {
    text-transform: uppercase;
}

.palavra-oculta {
    margin: 10px 0;
    font-size: 2rem;
    letter-spacing: 10px;
}

.teclado {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font2);
    padding: 2%;
}

.linha {
    display: flex;
    justify-content: center;
}

.tecla {
    margin: 5px;
    padding: 10px 15px;
    font-size: 1.20rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--cor1);
    color: var(--cor2);
    border: 2px solid var(--cor3);
    border-radius: 8px;
}

.tecla:disabled {
    background-color: var(--cor-hover);
    cursor: not-allowed;
}

.mensagem-final {
    margin: 24px;
    font-family: var(--font2);
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
}

.mensagem-final.perdeu {
    color: red;
}

@media (max-width: 1080px) {
    .cabecalho {
        padding: 10%;
    }

    .menu {
        justify-content: center;
        gap: 40px;
    }

    .menu__links {
        font-size: 1.25rem;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .conteudo-geral {
        width: auto;
    }

    .rodape {
        padding: 24px;
        font-size: 1rem;
    }

    #imagem-forca {
        width: 10rem;
        height: auto;
    }

    .palavra-oculta {
        margin: 7px 0;
        font-size: 2rem;
        letter-spacing: 5px;
    }

    .teclado {
        padding: 5%;
    }

    .tecla {
        margin: 2px;
        padding: 5px 7px;
        font-size: 1.2rem;
        border: 2px solid var(--cor3);
        border-radius: 4px;
    }

    .letras-usadas {
        font-size: 1rem;
        margin-left: 10px;
    }
}